@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: "Inter Variable", "Poppins", sans-serif;
    --font-mono: "Iosevka", monospace;
    --font-serif: "Playfair Display Variable", "Poppins", serif;
}

@custom-variant hover (&:hover);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    * {
        @apply transition-colors duration-300 ease-in-out;
    }
}
