@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: "Inter Variable", "Poppins", sans-serif;
    --font-mono: "Iosevka", monospace;
    --font-serif: "Playfair Display Variable", "Poppins", serif;
}

@custom-variant hover (&:hover);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    * {
        @apply transition-colors duration-300 ease-in-out;
    }
    html.dark .astro-code,
    html.dark .astro-code span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}
