---
import Layout from "../layouts/Layout.astro";
import Bookshelf from "../components/Bookshelf.astro";
import Definition from "../components/Definition.astro";
import Contact from "../components/Contact.astro";
import Quote from "../components/Quote.astro";
import Projects from "../components/Projects.astro";
import Posts from "../components/Posts.astro";
import Now from "../components/Now.astro";
---

<Layout>
    <main
        id="sortable-grid"
        class="grid grid-cols-1 gap-6 w-full items-stretch xl:h-190
               xl:grid-cols-15 xl:grid-rows-12
               [&>*:nth-child(1)]:xl:col-span-8 [&>*:nth-child(1)]:xl:row-span-5
               [&>*:nth-child(2)]:xl:col-span-3 [&>*:nth-child(2)]:xl:row-span-5
               [&>*:nth-child(3)]:xl:col-span-4 [&>*:nth-child(3)]:xl:row-span-9
               [&>*:nth-child(4)]:xl:col-span-3 [&>*:nth-child(4)]:xl:row-span-7
               [&>*:nth-child(5)]:xl:col-span-4 [&>*:nth-child(5)]:xl:row-span-7
               [&>*:nth-child(6)]:xl:col-span-4 [&>*:nth-child(6)]:xl:row-span-7
               [&>*:nth-child(7)]:xl:col-span-4 [&>*:nth-child(7)]:xl:row-span-3"
    >
        <div><Definition /></div>
        <div><Now /></div>
        <div><Bookshelf /></div>
        <div><Contact /></div>
        <div><Projects /></div>
        <div><Posts /></div>
        <div><Quote /></div>
    </main>
</Layout>

<script>
    import Sortable from "sortablejs";

    const el = document.getElementById("sortable-grid");
    const isXl = window.matchMedia("(min-width: 1280px)");

    if (el) {
        const sortable = Sortable.create(el, {
            animation: 200,
            ghostClass: "opacity-50",
            forceFallback: true,
            disabled: !isXl.matches,
        });

        isXl.addEventListener("change", (e) =>
            sortable.option("disabled", !e.matches),
        );
    }
</script>
