---
import Tile from "./Tile.astro";
---

<Tile>
    <div class="flex flex-col gap-3">
        <div class="space-y-1">
            <div class="flex items-baseline gap-3">
                <h2
                    class="text-4xl font-bold font-serif tracking-tighter dark:text-gray-100"
                >
                    Krit Dass
                </h2>
                <span
                    class="text-gray-400 font-medium text-lg dark:text-gray-450"
                    >कृत दास</span
                >
            </div>
            <p class="text-sm text-gray-500 font-mono dark:text-gray-400">
                /kr̩t dɑːs/
            </p>
        </div>

        <div class="space-y-3">
            <p
                class="text-base leading-relaxed text-gray-800 dark:text-gray-300"
            >
                <span
                    class="font-bold italic text-gray-500 mr-1 dark:text-gray-400"
                    >human</span
                >
                a student and researcher at Carnegie Mellon University studying computer
                science to create accessible technologies that benefit humanity.
            </p>

            <div
                class="space-y-2 pl-4 border-l-2 border-gray-100 dark:border-gray-700 text-sm text-gray-600 dark:text-gray-400"
            >
                <p>
                    <span
                        class="font-bold mr-1 text-gray-900 dark:text-gray-200"
                        >1.</span
                    >
                    avid reader of literary classics and novels that challenge one's
                    beliefs.
                </p>
                <p>
                    <span
                        class="font-bold mr-1 text-gray-900 dark:text-gray-200"
                        >2.</span
                    >
                    interested in computer systems, programming languages, and computational
                    biology.
                </p>
            </div>
        </div>
    </div>
</Tile>
